@mixin contenedor{
    background-color: rgb(5, 57, 105);
    display: flex;
    padding: 1% 15%;
    justify-content: center;
}
@mixin caja{
    background-color: rgb(6, 65, 119);
    padding: 5%;
}
@mixin caja-texto{
    background-color: rgb(6, 65, 119);
    margin: 0% 2%;
    padding: 4%;
}
@mixin imagenes{
    max-width: 100px;
    max-height: 100px;
    min-width: 50px;
    min-height: 50px;
    padding: 2% 0%;
}
@mixin fotoPerfil{
    max-width: 200px;
    max-height: 200px;
    min-width: 100px;
    min-height: 100px;
    padding: 2% 0%;
}

@mixin parrafos{
    color: rgb(255, 255, 255);
    text-align: justify;
}
@mixin titulos-de-caja{
    color: rgb(255, 255, 255);
    text-align: center;
}
//----------------------------------------//

//--             CONTACTO             --//

//----------------------------------------//
    #contacto{
        color: rgb(189, 236, 243);
        text-align: center
    }

//----  Elegir una opcion   ----//

    .container{
    @include contenedor();
        .caja{
        @include caja();
            h2{
                @include titulos-de-caja();
            }
            .areaForm1{
                background-color: rgb(2, 43, 93);
                padding: 20px;
                .formuno{
                padding: 50px;
                background-color: rgb(44, 91, 161);
                    select{
                        border-radius: 5px;
                        padding: 2%;
                        background-color: rgb(255, 137, 26);
                        color: rgb(255, 255, 255);
                        text-align: center;
                        border: 2px solid rgb(255, 137, 26);
                    }
                    option{
                        color: rgb(21, 79, 173);
                        background-color: rgb(150, 183, 250);
                    }
                }
            }
        }
    }

    // Area de contacto de formulario //
    .container2{
        @include contenedor();
            .caja{
            @include caja();
                .areaForm2{
                background-color: rgb(244, 54, 54);
                    form{
                        p{
                            text-align: center;
                            color: aliceblue;
                        }
                    }
                }
            }
        }
