
// Area de portada de el portafolio web //

body{
margin: 0%;
    div.contenedorPortada{
        background-image: url("/IMG/portada.jpg");
        display:flex;
        align-items: center;
        padding: 100px;
        justify-content: space-between;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        div.cajaFrase{
        display: flex;
            #inicio{
                color: aliceblue;
                text-align: center;
                font-size: 300%;
                background-color: rgb(5, 5, 5);
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }

// Inicio de header //

	header{
    background-color: rgb(31, 100, 160);
	min-height: 70px;
	display:flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
    position: sticky;
    top: 0;
		#inicio{
        text-decoration:none;
			div.cajaFlexible{
            display: flex;
                img.Logo{
                    width: 50px;
                    height: 50px;
                    align-items: center;
                    display: flex;
                    padding: 10px;
                }
                h2.Titulo{
                    color: rgb(207, 242, 242);
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    
                }
            }
        }
		nav{
			a, .inicio, .tecnologias, .formacion, .acerca, .contacto{
                font-weight: 600px;
                padding-right: 10px ;
                text-decoration: none;
                color: rgb(195, 233, 234);
                font-family: Arial, Helvetica, sans-serif;
            }
            a, .inicio:hover, .tecnologias:hover, .formacion:hover, .acerca:hover, .contacto:hover{
                color: rgb(235, 186, 7);
                font-size: large;
            }
            a, .inicio:active, .tecnologias:active, .formacion:active, .acerca:active, .contacto:active{
                color: rgb(99, 234, 213);
                font-size: large;
            }
        }
    }
}

@media screen and (max-width:900px){
	header{
		flex-direction: column;
	}
	nav {
		padding: 10px 0px;
        text-align: center !important;
	}

    .Frase{
        font-size: 20px !important;
        
    }

}

@media only screen and (min-width:480px) and (max-width:768px){
	body{
		background-color: rgba(248, 0, 0, 0.63);
		
	}
}